body {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    color: #333;
    padding-top: 10px;
}
/* для ссылок */
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* для дива */
.container {
    position: relative;
    height: 90vh; /* Вы можете установить высоту контейнера по вашему выбору */
    border: 2px solid greenyellow;
    border-radius: 12px;
    bottom: 5px;
}

/* для кнопок */
.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button {
    padding: 7px 15px;
    border-radius: 5px;
    font: 16px Helvetica, Arial, sans-serif;
    background-color: #3F2AFF;
}
.button--bottom-left {
    position: absolute;
    left: 10px;
}

.button--bottom-right {
    position: absolute;
    right: 10px;
}

span {
    position: absolute;
    top: 50px;
}

/*.centered-div {
    font: 25px 'Times New Roman';
} */